@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Miriam+Libre:wght@400;700&family=Poppins:wght@100;400;700;900&display=swap');

body {
    --bkg-color: #fafafa;
    --txt-color: rgb(10, 10, 10);

    --title-font: 'Poppins', cursive;
    --std-font: 'Poppins', sans-serif;
    --quote-font: 'Miriam Libre', sans-serif;
    --biblio-font: 'Kavivanar', cursive;

    --grey: rgb(235, 235, 235);
    --shock-purple: rgb(138, 125, 253);
    --shock-red: rgb(255, 58, 58);  
    --shock-banana: rgb(255, 255, 50);
    --shock-mint: rgb(132, 255, 163);

    --std-underline: linear-gradient(120deg, rgb(125, 165, 253, 0.7) 0%, rgb(0, 211, 148, 0.7) 100%);
    --std-link: linear-gradient(120deg, rgb(255,255,50) 0%, rgb(255, 202, 58) 100%);
    --std-expr: linear-gradient(120deg, rgba(255, 86, 86, 0.7) 0%, rgba(255, 177, 177, 0.7) 100%);
    --std-tip: rgb(125, 253, 200);
    --bkg-tip: var(--shock-purple);

    background-color: var(--bkg-color);
    color: var(--txt-color);
}

::-moz-selection {
    background-color: var(--shock-mint);
    color: var(--txt-color);
}

::selection {
    background-color: var(--shock-mint);
    color: var(--txt-color);
    z-index: -1;
}

.container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    padding-right: 15%;

    font-family: var(--std-font);
}

.section {
    margin-top: 2em;
    margin-bottom: 2em;
}

.space {
    margin-top: 3em;
    margin-bottom: 3em;
}

.frow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 3em;
}

.fcol {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-basis: 50%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    grid-auto-flow: row;
}

.paragraph {
    text-align: left;
    font-size: 1.1em;
}

h1 {
    font-family: var(--title-font);
    font-size: 3em;
}

.underlined {
    background-image: var(--std-underline);
    background-repeat: no-repeat;
    background-size: 100% 0.25em;
    background-position: 0 77%;
    transition: background-size 0.25s ease-in;
}

.expr {
    background-image: var(--std-expr);
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    background-position: 0 120%;
    transition: background-size 0.25s ease-in;
}

a {
    background-image: var(--std-link);
    background-repeat: no-repeat;
    background-size: 100% 0.25em;
    background-position: 0 77%;
    transition: background-size 0.25s ease-in;

    width: fit-content;

    font-family: 'Miriam Libre';
    font-weight: bold;
    color: var(--txt-color);
    text-decoration: none;
}

a:hover, .underlined:hover, .expr:hover {
    cursor: pointer;
    background-size: 100% 88%;
}

.quote {
    display: inline;
    font-family: var(--quote-font);
    font-weight: bold;
    font-size: 1.5em;
    color: var(--txt-color);
}

.bibliography {
    font-family: var(--biblio-font);
    font-weight: 400;
    font-size: 1.3em;
    color: var(--txt-color);
}

.note {
    width: fit-content;
    border-radius: 0;       
    border-left: 8px solid var(--shock-purple);
    background-color: var(--grey);
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    padding: 0.5em 1em 0.5em 1em;
    color: var(--txt-note1); 
    font-family: var(--quote-font);   
}

.note::before {       
    content: 'Note: ';       
    display: inline;           
    font-weight: bold;       
    color: var(--txt-note2);         
    width: 500px;       
    text-transform: uppercase;       
    letter-spacing: 3px;       
    text-align: left;
}    

img {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.fancyhr {
    width: 0%;
    min-width: 60%;
    max-width: 100%;
    margin: 2em auto;
    border: none;
    position: relative;
    transition: box-shadow 200ms ease-in-out;
}

.hc1 {
    border-bottom: 4px solid var(--shock-purple);
    box-shadow: 2px 2px 0px 0px var(--shock-mint);
}

.hc2 {
    border-bottom: 4px solid var(--shock-red);
    box-shadow: 2px 2px 0px 0px var(--shock-purple);
}

/* Data tooltip */
[data-tooltip]:before {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    
    transition: all 0.15s ease;
    padding: 10px;
    color: var(--txt-color);
    box-shadow: 2px 2px 1px var(--bkg-tip);    
}

[data-tooltip]:hover:before {
    opacity: 1;
    
    background: var(--std-tip);    
    margin-top: -50px;
    margin-left: 20px;    
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}

/* Media queries */
@media screen and (max-width: 1174px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .fcol {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 1174px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .fcol {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 960px) {
    .grid {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
    }
}
  
@media screen and (max-width: 720px) {
    img {
        max-width: 400px;
    }
}

@media screen and (max-width: 500px) {
    img {
        max-width: 300px;
    }
}
  