@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Nunito:wght@200;400&display=swap');

:root{
    padding: 0;
    margin: 0;
    --background: rgb(255, 255, 239);
    --main-text-color: rgb(36, 36, 36);
    --light-text-color: rgb(241,241,241);
    --main-font: 'Montserrat';
    --secondary-font: 'Nunito';
    
    --main-color: #D9B99B;
    --text: #191919;

    --brown1: #927551;
    --brown-fade: #92755136;
    --brown2: #765A3C;

    --light-green: #C3E991;
    --light-yellow: #fce373;
    --light-yellow-2: #F2F6D0;
    --light-brown: #F0DAC9;
    --light-red: #FF4365;
    --pink1: #E08DAC;
    --alabaster: #E0E2DB;
    --dark-sienna: #4C061D;
    --almond: #F1E3D3;
    --blue1: #6A7FDB;
    --blue2: #57E2E5;
    --celeste: #A8F9FF;
    --emerald: #45CB85;
    --orange: #e57b54;
    --coffe: #3A3335;
    --pink: #F7D1C8;
    
    --standard-radial: linear-gradient(90deg, var(--background) 0%, var(--brown-fade) 10%, var(--background) 60%); 

    font-size: 16px;
}

body{
    padding: 0;
    margin: 0;
    background: var(--background);
    color: var(--main-text-color);
    font-family: var(--main-font), 'Arial', sans-serif;
}

::selection {
    background: var(--brown1); /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: var(--brown1); /* Gecko Browsers */
  }

.container{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    padding-right: 15%;
}


.auto{
    margin-left: auto;
    margin-right: auto;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
}

.grid{
    display: grid;
}

.fb100{flex-basis: 100%;}

.fb-standard{
    flex-basis: 50%;
}

.separation{
    margin-top: 3rem;
}

.section-separation{
    margin-top: 10rem;
}

.section-padding{
    padding-top: 5em;
    padding-bottom: 5em;
}

.w200{
    font-weight: 200;
}

.desktop-only{
    display:initial;
}
.mobile-only{
    display: none;
}
.mobile-home{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 3rem;
    margin-bottom: 3rem;
    z-index: 2;
}

.down-direction{
    transform: rotateZ(180deg);
    transition: 1s;
}

@media only screen and (max-width: 768px) {
    .desktop-only{
        display: none !important;
    }
    .mobile-only{
        display: initial;
    }
}

.image{
    max-width: 30em;
    max-height: 40em;
    margin-left: auto;
    margin-right: auto;
}
.large-image{
    width: 65%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
}
.little-image{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    max-height: 25em;
    max-width: 25em;
}

.underline{text-decoration: underline;}
.bkg-light-yellow{background: var(--light-yellow);}
.bkg-light-green{background: var(--light-green);}
.bkg-light-red{background: var(--light-red);}
.bkg-light-yellow2{background: var(--light-yellow-2);}
.bgk-main-color{background: var(--main-color);}
.bkg-celeste{background: var(--celeste);}

@media only screen and (max-width: 540px){
    .image{max-width: 18em;}
    .little-image{max-width: 15em; max-height: 15em;}
}
@media only screen and (max-width: 400px){
    .image{max-width: 15em;}
}

.footer{
    background-color: var(--background);
    color: var(--text);
    font-weight: 200;
    font-family: 'Nunito';
}

.btn1{
    background-color: var(--coffe);
    border: none;
    font-size: 1.5rem;
    color: var(--background);
    padding: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-weight: 400;
    text-decoration: none;
}

@media only screen and (max-width: 500px){
    .btn1{font-size: 1rem;}
}

.hr-line{
    color: transparent;
    border: 1px solid var(--background);
    border-radius: 100%;
}

.centered-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15em;
    width: 15em;
}


/* FONT AWESOME GENERIC BEAT */ 
.fa-beat {
    animation:fa-beat 5s ease infinite;
  }
  @keyframes fa-beat {
    0% {
      transform:scale(1);
    }
    5% {
      transform:scale(1.25);
    }
    20% {
      transform:scale(1);
    }
    30% {
      transform:scale(1);
    }
    35% {
      transform:scale(1.25);
    }
    50% {
      transform:scale(1);
    }
    55% {
      transform:scale(1.25);
    }
    70% {
      transform:scale(1);
    }
  }

a{
    color: var(--background);
}

.social-icon{
    font-size: 5rem;
    color: var(--coffe);
}

/*
Bootstrap media rules:
    xs = Extra small <576px. Max container width None (auto)
    sm = Small ≥576px. Max container width 540px.
    md = Medium ≥768px. Max container width 720px.
    lg = Large ≥992px. Max container width 960px.
    xl = Extra large ≥1200px. Max container width 1140px.
*/